.slice_faucet_sec {
    background: #f8f9fa;
    height: 700px;
    display: flex;
    justify-content: center;

    .faucet_main {
        margin-top: 5em;

        .faucet_heading {
            text-align: center;
            font-size: 23px;
            font-weight: bold;
            color: #000000a1;
            margin-bottom: 1.5em;
        }

        .faucet_container {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            border-radius: 12px;
            background-color: white;

            .faucet_input_button {
                padding: 29px;
                display: flex;
                gap: 16px;

                .form-control {
                    width: 77%;
                    border-radius: 6px;
                }

                button {
                    background: linear-gradient(45deg, #a30b9dc7, #7c14efe0);
                    color: white;
                    border: none;
                    padding: 14px;
                    border-radius: 6px;
                    font-weight: bold;
                }
            }

            p {
                font-size: 14px;
                margin-left: 30px;
                margin-top: -20px;
                font-weight: bold;
                color: rgb(0 0 0 / 80%);
            }

            .faucet_table {
                padding: 31px;

                table {
                    width: 100%;
                    border: 1px solid rgb(226, 225, 225);

                    thead {
                        background: linear-gradient(45deg, #a30b9dc7, #7c14efe0);
                        color: white;


                        td {
                            padding: 10px;
                        }
                    }

                    tbody {
                        td {
                            padding: 10px;
                            font-size: 14px;

                            .slice_img {
                                width: 28px;
                                height: auto;
                            }

                            a{
                                text-decoration: none;
                            }
                        }
                    }
                }
            }


            .faucet_loader {

                height: 300px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

        }

    }

}





@media screen and (min-device-width: 320px) and (max-device-width: 546px) {
    .slice_faucet_sec {
        .faucet_main {
            .faucet_container {

                .faucet_input_button {
                    display: flex;
                    flex-direction: column;

                    .form-control {
                        width: 100%;
                    }

                    button {
                        width: 100%;
                        padding: 9px;
                        border-radius: 6px;
                        font-weight: bold;
                    }
                }

                p {
                    font-size: 12px;
                }

            }

        }
    }

}

@media screen and (max-device-width:280px) {
    .slice_faucet_sec {
        .faucet_main {
            .faucet_container {

                .faucet_input_button {
                    display: flex;
                    flex-direction: column;

                    .form-control {
                        width: 100%;
                    }

                    button {
                        width: 100%;
                        padding: 9px;
                        border-radius: 6px;
                        font-weight: bold;
                    }
                }

                p {
                    font-size: 12px;
                }

            }

        }
    }
}